@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
#acceuil{

    min-height: 70vh;
    
    header{

        display: flex;
        justify-content: space-around;
        align-items: center;

        h1{

            margin-top: 0;
        }

        .navbar{

            height: 80%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 10%;
            right: -250px;
            background-color: rgba(0, 0, 0, 0.412);
            
            padding-top: 60px;
            transition: left 0.5s ease;

            ul{


                list-style-type: none;
                padding: 0;
                margin: 0;
                
                a{

                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: white;
                display: block;
                transition: 0.3s;

                    &:hover{

                        color: #111;
                    }
                }
            }
        }

        .icon{

            li{

                a{

                    margin-top: 0;
                }
            }
        }

        .navbar.active {
            right: 0;
          }
          
          
        .navbar.close {
            position: absolute;
            top: 0;
            left: 25px;
            font-size: 36px;
        }

        i{
            font-size: 40px;
            color: black;
            position: fixed;
            top: 20px;
            right: 30px;
          }
    }

    #text_img{

        .container{

            margin-left: 2em;
            width: 50%;

            h2{

                font-size: 30px;
                margin-bottom: 20px;
                width: 100%;
            }

            p{

                text-align: justify;
                width: 95%;
                margin-bottom: 20px;
            }

            #bouton{

                position: relative;
                display: inline-block;
                width: 90%;
            }

            
        }

        img{

            width: 40%;
            margin-right: 4em;
        }
    }
}

.scroll{

    left: 90%;
}

#Teams{

    #pictures{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;

        .imgs{

            width: 38%;

            div{

                figure{

                    img{

                        filter: none;
                    }

                    #socials{

                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

#logo{

    .text{

        p{

            width: 75%;
        }
    }
    .icons{

        margin: 0;
        flex-wrap: wrap;

        img{

            opacity: 1;
            width: 33%;
        }
    }
}

#blog{

    .container{

        .card{

            width: 30%;

            p{

                width: 100%;
            }
        }
    }
}

#pricing{

    .head{

        .text{

            padding-left: 15px;

            h4{

                font-size: 25px;
            }

            .para{

                font-size: 17px;
            }

            button{

                width: 47%;
            }
        }
    }

    .prices{

        .container{

            margin: 0;

            .card{

                width: 30%;

                .info{

                    font-size: 14px;
                }

                .remise{

                    bottom: 92%;
                    left: 88%;
                    width: 23%;
                    padding: 4px;
                    height: 11%;
                }
            }
        }
    }
}
}