* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#acceuil {

    background: radial-gradient(rgb(139, 195, 245, 0.27), #1294b8d6);
    height: 100vh;

    header {
        height: 20%;

        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            h2 {
                margin-top: 11px;
                margin-left: 60px;
                color: white;
                font-size: xx-large;
            }

            ul {
                margin-top: 20px;

                a {
                    color: white;
                    text-decoration: none;
                }

                a:hover {
                    color: #cad2d9;
                }
            }

            li {
                display: inline;
                margin-right: 20px;
            }

            .icon {
                margin-right: 40px;

                a {
                    color: white;
                    text-decoration: none;
                    margin-left: 15px;
                }
            }
        }
    }

    #text_img {
        justify-content: space-between;
        margin-top: 80px;
        align-items: center;
        // height: 50%;

        .container {
            width: 40%;
            margin-left: 10em;

            h2 {
                font-size: 55px;
                margin-bottom: 20px;
                width: 80%;
            }

            p {
                text-align: justify;
                width: 60%;
                margin-bottom: 20px;
            }

            #bouton {

                position: relative;
                display: inline-block;
                width: 70%;

                input {
                    background: whitesmoke;
                    border: 0;
                    border-radius: 40px;
                    color: #8196aa;
                    padding: 15px;
                    width: 100%;
                }

                input:focus {
                    outline: none;
                }

                input::placeholder {
                    color: #8196aa;
                }

                button {
                    background: #1697bdbd;
                    border: 0;
                    border-radius: 40px;
                    color: white;
                    padding: 10px 30px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }

                button:hover {
                    background: #79bdd2f5;
                }
            }
        }

        img {
            width: 40%;
            margin-right: 14em;
        }

    }
}